body{
  background-color: rgba(73, 163, 0, 0.075);
  font-family: 'poppins', sans-serif;
}

.title{
  font-size: 64px;
  color: #48A300;
  text-align: center;
}

.title span{
  color: #61481C;
}

.app-container{
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;

}